<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeoCoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeoCoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <GeoCoder.Properties.Settings>
            <setting name="CsvFilter" serializeAs="String">
                <value>csv files (*.csv)| *.csv</value>
            </setting>
            <setting name="GoogleMapApiLink" serializeAs="String">
                <value>http://maps.googleapis.com/maps/api/geocode/xml?address=</value>
            </setting>
            <setting name="FileInUseMessage" serializeAs="String">
                <value>The file you are trying to access is currently open by another process, please close it and try again.</value>
            </setting>
            <setting name="UnexpectedErrorMessage" serializeAs="String">
                <value>An unexpected error has occured.</value>
            </setting>
        </GeoCoder.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <GeoCoder.Properties.Settings>
            <setting name="DefaultSave" serializeAs="String">
                <value>K:\\</value>
            </setting>
            <setting name="DefaultOpen" serializeAs="String">
                <value>C:\\X-YFiles\\</value>
            </setting>
            <setting name="EmailUsername" serializeAs="String">
                <value>schedulerbbpo@gmail.com</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value>ld7+tv1PNbnpii3IIw+RHQ==</value>
            </setting>
            <setting name="SmtpHost" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SmtpPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="ReferenceCutoff" serializeAs="String">
                <value>20000</value>
            </setting>
            <setting name="EmailAddressUngeo" serializeAs="String">
                <value>info@backofficebpo.com.au</value>
            </setting>
            <setting name="EmailAddressResults" serializeAs="String">
                <value>scheduler@backofficebpo.com.au</value>
            </setting>
        </GeoCoder.Properties.Settings>
    </userSettings>
</configuration>