<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GeoCoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GeoCoder.Properties.Settings>
            <setting name="DefaultSave" serializeAs="String">
                <value>K:\\</value>
            </setting>
            <setting name="DefaultOpen" serializeAs="String">
                <value>C:\\X-YFiles\\</value>
            </setting>
            <setting name="CsvFilter" serializeAs="String">
                <value>csv files (*.csv)| *.csv</value>
            </setting>
        </GeoCoder.Properties.Settings>
    </userSettings>
</configuration>